/*-- GENERAL SETUP --*/

ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

body 
{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.main
{
    width: 80%;
    padding: 40px 100px;
}

/*-- HEADER CONTENT --*/

.header
{
    background-color: #FEFEFE;
}

.header.name
{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 56px;
}

.personal.data
{
    display: flex;
    justify-content: space-evenly;
}

.name
{
    font-family: 'Times New Roman', Times, serif;
}

.first
{
    color: #AAA;
}